ARFitHelper/ARFitHelper.xcodeproj/project.xcworkspace/xcuserdata/antonpetrenko.xcuserdatad/UserInterfaceState.xcuserstate
ARFitHelper/ARFitHelper.xcodeproj/xcuserdata/antonpetrenko.xcuserdatad/xcschemes/xcschememanagement.plist
